p {
	padding-top: 50px;
	padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
	background-color: lightblue;
	font-style: italic;
	color: red;
	text-align: center;
}
block { 
 color:blue;
 margin-bottom: 50px;

}
